<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>
<body class="grey-background">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ИУ</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Главная</a></li>
            <li><a href="#">Кафедры</a></li>
            <li><a href="#">Преподаватели</a></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
        </ul>-->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#"></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img src="static/img/gapa.png" class="avatar">
                    Гапанюк Ю.Е.
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Мой профиль</a></li>
                    <li><a href="#">Настройки</a></li>
                    <li><a href="#">Выйти</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<h1>
    Преподаватели МГТУ им Н.Э. Баумана
</h1>
<h2>
    Кафедры МГТУ им Н.Э. Баумана
</h2>
<p class="text-block">
    Кафедра ИУ5
    Системы обработки информации и управления
    Основными направлениями обучения являются программирование, информационное обеспечение, вычислительные сети и
    телекоммуникации.
</p>

<h2>
    Кафедра ИУ5
</h2>
<div class="text-block">
    Кафедра существляет подготовку бакалавров и магистров по направлению «Информатика и вычислительная техника»
    (09.03.01 и 09.04.01 соответственно), а также ведет прием в аспирантуру по следующим научным специальностям:
    <ul>
        <li>05.13.10 Управление в социальных и экономических сетях</li>
        <li>05.13.11 Математическое и программное обеспечение вычислительных машин, комплексов и компьютерных сетей</li>
        <li>05.13.15 Вычислительные машины, комплексы и компьютерные сети</li>
        <li>05.13.17 Теоретические основы информатики</li>
    </ul>
</div>

<script type="text/javascript" src="static/js/bootstrap.js"></script>
</body>
</html>